*/.DS_Store

*.iml
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
*.png
*.jpg
*.rdb
*.pyc
*.log
*.xml
*.out
*.csv
*.input
*.txt

*/log/*
.idea/
*/.idea/*
*/.DS_Store
*/.svn/*
